@{
    ViewData["Title"] = "AboutUS";
}


<!DOCTYPE html>
<html>

<head>
    <style>


        .Home {
            text-decoration: none;
            display: initial;
            padding: 10px 20px;
            color: black;
            text-align: center;
            font-size: 20px;
            font-family: calibri;
            background-color: orangered;
            color: seashell;
            <button type="button" class="btn btn-primary">Default</button>
        }

        h1 {
            color: white;
        }

        body {
            color: white;
        }
    </style>
</head>
<body>
    <section id="subheader">
        <div class="container ">


            <div>
                <h1>Project Details:</h1>
                <p> We are using schools <a href="https://api.data.gov/ed/collegescorecard/v1/schools.json?school.name=Florida&per_page=1&api_key=ck1LVrQunLhfsjSgoithxWggF6ZbNSp3SvalD4d4">API</a> and displaying University Name, Location, Tuition Fee, University URL in a table format. Students can Signup to recieve more information about the future newsletters, and all the student details will be stored in the database.</p>
            </div>
            <hr />
            <div> Link to the Project : <a href="https://github.com/phanibhushanksa/Assignment4"> GitHub</a></div>
            <hr />
            <div class="row bg-dark">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Developers:</h1>
                </div>
            </div>
            <div class="row center-xs center-sm center-md center-lg bg-dark">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="~/img/suraj.png" alt="Notfound.JPG" height="300" width="300" /><br />
                    <h3>Sai Suraj Argula</h3>
                    <p align="left">
                        University ID : U02248584<br>
                        Course        : MSBAIS <br>
                        mail id       : saisuraja@mail.usf.edu <br>
                        Phone number  : 8135396715 <br>
                        LinkedIn      : <a href="https://www.linkedin.com/in/sai-suraj-argula-47900089/"> Sai Suraj Argula</a> <br>
                        Github        : <a href=https://github.com/ARGULASAISURAJ> Sai Suraj Argula</a> <br>
                    <p align="justify">
                        Sai Suraj Argula is a graduate student at the University of South Florida, currently pursuing a Master of Science in Business Analytics and Information Systems. He has more than 3 years of experience as a Software Engineer with a demonstrated history of working in the IT industry. Suraj is skilled in C#, SQL, Python, MATLAB with also a strong business Analytics sense.
                        <br><b>Contribution:</b> Responsible for Azure Cloud deployment of project </br>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="~/img/anusha.jpg" alt="Notfound.JPG" height="300" width="300" /><br />

                    <h3>Anusha Seshagiri</h3>
                    <p align="left">
                        University ID : U26232163<br>
                        Course : MSBAIS <br>
                        mail id : anusha4@mail.usf.edu <br>
                        Phone number : 8132915504 <br>
                        LinkedIn : <a href="https://www.linkedin.com/in/anusha-seshagiri-071227105/"> Anusha Seshagiri</a><br>
                        Github : <a href="https://github.com/anusha610/">Anusha Seshagiri</a><br>
                    </p>
                    <p align="justify">
                        Anusha Seshagiri is pursuing Masters in Business Analytics and Information systems. She worked as a Business Analyst at Accenture for 3 years. She has a working experience in SAP, Informatica and Tableau

                        <br><b>Contribution:</b> FrontEnd Webdesigning of project</br>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="~/img/Phani.jpg" alt="Notfound.JPG" height="300" width="300" /><br />
                    <h3>Phani Bhushan Kolla</h3>
                    <p align="left">
                        University ID : U37457927<br>
                        Course: MSBAIS <br>
                        mail id : bhushankolla@mail.usf.edu <br>
                        Phone number : 8135107827 <br>
                        LinkedIn : <a href=https://www.linkedin.com/in/k-s-a-phani-bhushan-062b9880 />Phani Bhushan Kolla</a> <br>
                        Github : <a href=https://github.com/phanibhushanksa>Phani Bhushan Kolla</a><br>
                    </p>

                    <p align="justify">
                        Phani Bhushan Kolla is a graduate student at the University of South Florida, currently pursuing a Master of Science in Business Analytics and Information Systems. Phani is skilled in C, C#, SQL, R, and IOS development.
                        <br><b>Contribution:</b> Database and API Handling </br>
                    </p>

                </div>
            </div>
        </div>
        <hr />
    </section>

    <section id="subheader">
        <div class="container" align="center">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Data Model of Data Base</h1>
                    <img src="~/img/ERDdiagram.jpg" alt="DF" style="width:60%">
                </div>
            </div>

        </div>
    </section>
</body>
</html>