
<head>
    <style>
        .Home {
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            color: black;
            text-align: center;
            font-size: 20px;
            font-family: calibri;
            background-color: rgb(255,100,0);
            color: white;
        }
    </style>
</head>

<div class="text-center jumbotron">
    <h1>
        One stop destination for information about all univerisities in the United States.
        SignUp and start applying to your Dream Universities!!
    </h1>
    <a class="Home" asp-controller="Home" asp-action="Explore">Explore</a>
</div>
